body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin: 5% 15%;
    padding:0;
    background-color: rgb(250, 250, 250);
}

.profile-picture { 
    position: relative;
    left: 0px;

}

    .profile-picture img{
        width: 120px;
        border-radius: 50%;
        padding-top: 20px;
    }


.flex-container {
    display: flex;
    flex-direction: row;

    
}

#name {
    padding-left: 14px;
}

#linkedin {
    padding-top: 28px;
    padding-left: 30px;
    width: 24px;
}

#github {
    padding-top: 28px;
    padding-left: 20px;
    width: 24px;
}

#resume {
    text-decoration: none;
}

.body-content p{
    font-size: 30px;
}

.body-content h1{
    font-size: 40px;
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    background-color: rgb(250, 250, 250);
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    
    color: rgb(68, 67, 67);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: rgba(86, 86, 246, 0.685);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    color: rgba(86, 86, 246, 0.685);
  }


/* Slideshow code */

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: rgb(105, 103, 103);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}